#basic
/*
!.gitignore
!README.md
!ProjectTEP/
ProjectTEP/*
!ProjectTEP/.minecraft/
ProjectTEP/.minecraft/*
!ProjectTEP/.minecraft/mods/
ProjectTEP/.minecraft/mods/*
!ProjectTEP/.minecraft/config/
ProjectTEP/.minecraft/config/*
!ProjectTEP/.minecraft/config/AppliedEnergistics2/
ProjectTEP/.minecraft/config/AppliedEnergistics2/*
!/ProjectTEP/.minecraft/scripts/
!/ProjectTEP/.minecraft/oresources/
!/ProjectTEP/.minecraft/resources/
!/ProjectTEP/.minecraft/patchouli_books/

#blacklist
ProjectTEP/.minecraft/config/compactmachines3/schemas
ProjectTEP/.minecraft/config/RTG/biomes/
ProjectTEP/.minecraft/config/cofh/thermalfoundation/lexicon-whitelist.cfg
ProjectTEP/.minecraft/config/environmentaltech/multiblocks/void_miner/botanic/tier_5.json
ProjectTEP/.minecraft/config/environmentaltech/multiblocks/void_miner/botanic/tier_6.json
ProjectTEP/.minecraft/config/environmentaltech/multiblocks/void_miner/ore/tier_5.json
ProjectTEP/.minecraft/config/environmentaltech/multiblocks/void_miner/ore/tier_6.json
ProjectTEP/.minecraft/resources/contenttweaker/models/
ProjectTEP/.minecraft/resources/contenttweaker/blockstates/
ProjectTEP/.minecraft/resources/modularcontroller/blockstates/
ProjectTEP/.minecraft/resources/pack.mcmeta
ProjectTEP/.minecraft/scripts/.zsrc

#config
!ProjectTEP/.minecraft/config/AppliedEnergistics2/AppliedEnergistics2.cfg
!ProjectTEP/.minecraft/config/cofh/
!ProjectTEP/.minecraft/config/betteradvancements/
!ProjectTEP/.minecraft/config/compactmachines3/
!ProjectTEP/.minecraft/config/dsurround/
!ProjectTEP/.minecraft/config/environmentaltech/
!ProjectTEP/.minecraft/config/GeographiCraft/
!ProjectTEP/.minecraft/config/itlt/
!ProjectTEP/.minecraft/config/loadingscreens/
!ProjectTEP/.minecraft/config/modularmachinery/
!ProjectTEP/.minecraft/config/oreveins/
!ProjectTEP/.minecraft/config/RTG/
!ProjectTEP/.minecraft/config/sereneseasons/cropfertility.cfg
!ProjectTEP/.minecraft/config/sereneseasons/seasons.cfg
!ProjectTEP/.minecraft/config/simpledifficulty/
!ProjectTEP/.minecraft/config/triumph/
!ProjectTEP/.minecraft/config/waila/
!ProjectTEP/.minecraft/config/aroma1997/aromabackup.cfg
!ProjectTEP/.minecraft/config/bloodmoon.cfg
!ProjectTEP/.minecraft/config/cfm.cfg
!ProjectTEP/.minecraft/config/customloadingscreen.cfg
!ProjectTEP/.minecraft/config/dmgcontrol.cfg
!ProjectTEP/.minecraft/config/enhancedvisuals.json
!ProjectTEP/.minecraft/config/fancymenu/config.txt
!ProjectTEP/.minecraft/config/fancymenu/customization/fancymenu.txt
!ProjectTEP/.minecraft/config/gugu-utils.cfg
!ProjectTEP/.minecraft/config/immersiveengineering.cfg
!ProjectTEP/.minecraft/config/integrateddynamics.cfg
!ProjectTEP/.minecraft/config/InGameInfo.xml
!ProjectTEP/.minecraft/config/ingameinfoxml.cfg
!ProjectTEP/.minecraft/config/littletiles-client.json
!ProjectTEP/.minecraft/config/mapwriter.cfg
!ProjectTEP/.minecraft/config/mekanism.cfg
!ProjectTEP/.minecraft/config/modularassembly.cfg
!ProjectTEP/.minecraft/config/openblocks.cfg
!ProjectTEP/.minecraft/config/oreveins.cfg
!ProjectTEP/.minecraft/config/shouldersurfing.cfg
!ProjectTEP/.minecraft/config/simpledifficulty.cfg
!ProjectTEP/.minecraft/config/tips.cfg
!ProjectTEP/.minecraft/config/toastcontrol.cfg

#resources
!ProjectTEP/.minecraft/resources/contenttweaker/models/item/electric_iron.json
!ProjectTEP/.minecraft/resources/contenttweaker/models/item/hammer_flint.json
!ProjectTEP/.minecraft/resources/contenttweaker/models/item/hammer_plate.json
!ProjectTEP/.minecraft/resources/contenttweaker/models/item/handsaw_wood.json

#other
!runner
!ProjectTEP/manifest.json
!ProjectTEP/modlist.html
!ProjectTEP/priority.md
!ProjectTEP/.minecraft/servers.dat
!ProjectTEP/.minecraft/Title.txt
!ProjectTEP/.minecraft/mods/teputils*.jar