#.gitignore
/*
!/ProjectTEP
/ProjectTEP/*
!/ProjectTEP/.minecraft
/ProjectTEP/.minecraft/*

#basic
!.gitignore
!README.md
!ProjectTEP/Backstory.txt
!ProjectTEP/manifest.json
!ProjectTEP/modlist.html
!ProjectTEP/priority

#minecraft
!/ProjectTEP/.minecraft/Title.txt
!/ProjectTEP/.minecraft/scripts/
!/ProjectTEP/.minecraft/resources/
!/ProjectTEP/.minecraft/mods/teputils-1.0.1.jar
!/ProjectTEP/.minecraft/patchouli_books/

#configs
!/ProjectTEP/.minecraft/config/aroma1997/aromabackup.cfg
!/ProjectTEP/.minecraft/config/betteradvancements/
!/ProjectTEP/.minecraft/config/compactmachines3/recipes/
!/ProjectTEP/.minecraft/config/environmentaltech/multiblocks/
!/ProjectTEP/.minecraft/config/environmentaltech/main.cfg
!/ProjectTEP/.minecraft/config/fancymenu/customization/fancymenu.txt
!/ProjectTEP/.minecraft/config/fancymenu/config.txt
!/ProjectTEP/.minecraft/config/fancymenu/customizablemenus.txt
!/ProjectTEP/.minecraft/config/GeographiCraft/
!/ProjectTEP/.minecraft/config/itlt/
!/ProjectTEP/.minecraft/config/loadingscreens/
!/ProjectTEP/.minecraft/config/modularmachinery/machinery/
!/ProjectTEP/.minecraft/config/oreveins/
!/ProjectTEP/.minecraft/config/RTG/
!/ProjectTEP/.minecraft/config/scalinghealth/
!/ProjectTEP/.minecraft/config/sereneseasons/
!/ProjectTEP/.minecraft/config/simpledifficulty/
!/ProjectTEP/.minecraft/config/triumph/
!/ProjectTEP/.minecraft/config/waila/
!/ProjectTEP/.minecraft/config/ZombieAwareness/
!/ProjectTEP/.minecraft/config/bloodmoon.cfg
!/ProjectTEP/.minecraft/config/customloadingscreen.cfg
!/ProjectTEP/.minecraft/config/dmgcontrol.cfg
!/ProjectTEP/.minecraft/config/enhancedvisuals.json
!/ProjectTEP/.minecraft/config/mapwriter.cfg
!/ProjectTEP/.minecraft/config/monsterswarm.cfg
!/ProjectTEP/.minecraft/config/openblocks.cfg
!/ProjectTEP/.minecraft/config/shouldersurfing.cfg
!/ProjectTEP/.minecraft/config/simpledifficulty.cfg
!/ProjectTEP/.minecraft/config/tips.cfg
!/ProjectTEP/.minecraft/config/toastcontrol.cfg

#blacklist
ProjectTEP/.minecraft/config/environmentaltech/multiblocks/void_miner/botanic/tier_5.json
ProjectTEP/.minecraft/config/environmentaltech/multiblocks/void_miner/botanic/tier_6.json
ProjectTEP/.minecraft/config/environmentaltech/multiblocks/void_miner/ore/tier_5.json
ProjectTEP/.minecraft/config/environmentaltech/multiblocks/void_miner/ore/tier_6.json
ProjectTEP/.minecraft/resources/contenttweaker/models/
ProjectTEP/.minecraft/resources/contenttweaker/blockstates/
ProjectTEP/.minecraft/resources/pack.mcmeta

#whitelist
!ProjectTEP/.minecraft/config/aroma1997/aromabackup.cfg
!ProjectTEP/.minecraft/config/betteradvancements/
!ProjectTEP/.minecraft/config/compactmachines3/recipes/
!ProjectTEP/.minecraft/config/environmentaltech/multiblocks/
!ProjectTEP/.minecraft/config/environmentaltech/main.cfg
!ProjectTEP/.minecraft/config/fancymenu/customization/fancymenu.txt
!ProjectTEP/.minecraft/config/fancymenu/config.txt
!ProjectTEP/.minecraft/config/fancymenu/customizablemenus.txt
!ProjectTEP/.minecraft/config/GeographiCraft/
!ProjectTEP/.minecraft/config/itlt/
!ProjectTEP/.minecraft/config/loadingscreens/
!ProjectTEP/.minecraft/config/modularmachinery/machinery/
!ProjectTEP/.minecraft/config/oreveins/
!ProjectTEP/.minecraft/config/RTG/
!ProjectTEP/.minecraft/config/scalinghealth/
!ProjectTEP/.minecraft/config/sereneseasons/
!ProjectTEP/.minecraft/config/simpledifficulty/
!ProjectTEP/.minecraft/config/triumph/
!ProjectTEP/.minecraft/config/waila/
!ProjectTEP/.minecraft/config/ZombieAwareness/
!ProjectTEP/.minecraft/config/bloodmoon.cfg
!ProjectTEP/.minecraft/config/customloadingscreen.cfg
!ProjectTEP/.minecraft/config/dmgcontrol.cfg
!ProjectTEP/.minecraft/config/enhancedvisuals.json
!ProjectTEP/.minecraft/config/mapwriter.cfg
!ProjectTEP/.minecraft/config/monsterswarm.cfg
!ProjectTEP/.minecraft/config/openblocks.cfg
!ProjectTEP/.minecraft/config/shouldersurfing.cfg
!ProjectTEP/.minecraft/config/simpledifficulty.cfg
!ProjectTEP/.minecraft/config/tips.cfg
!ProjectTEP/.minecraft/config/toastcontrol.cfg
!ProjectTEP/.minecraft/resources/contenttweaker/models/item/electric_iron.json
!ProjectTEP/.minecraft/resources/contenttweaker/models/item/hammer_plate.json
!ProjectTEP/.minecraft/resources/contenttweaker/models/item/handsaw_wood.json
